<div class="background-gray">
  <div class="container mt-20">
    <div class="row justify-content-center">
      <div class="col-lg-12"> <!-- Adjust the column width as needed -->
        <div class="block-form">
          <%= form_for(:user, url: user_login_path, method: :post, html: { class: 'form-horizontal' }) do |f| %>
            <%= f.hidden_field :r, value: get_url_refferer %>
            <div class="form-group">
              <div class="col-sm-12 text-center">
                <%= f.label 'User UID' %>
                <%= f.text_field :uid, autofocus: true, class: 'form-control input-lg text-center', style: 'width: 450px; margin: 0 auto;' %>
              </div>
            </div>
              <div class="form-group text-center mt-3">
                <div class="col-sm-12 mt-3">
                  <%= f.submit 'Login', class: 'btn btn-primary btn-lg', id: 'update-button' %>
                </div>
                <p>Sample UID: <%= @uid %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>